<nav class="nav justify-content-left">
  <a class="nav-link" [routerLink]="'home'" routerLinkActive="router-link-active">Home</a>
  <a class="nav-link" [routerLink]="'tasks'" routerLinkActive="router-link-active">Tasks</a>
  <a class="nav-link" [routerLink]="'blog'" routerLinkActive="router-link-active">Blog</a>
  <a class="nav-link" [routerLink]="'cursos'" routerLinkActive="router-link-active">Cursos</a>
  <a class="nav-link" [routerLink]="'about'" routerLinkActive="router-link-active">About</a>
</nav>