<div class="container">
  <div class="row">
    <dev-post class="col-12"
    titulo="Proyección de contenido en Angular"
    autor="Esteban">
    <p>Chanante ipsum dolor sit amet, eveniet sed nostrud eveniet tempor magna minim elit. Cartoniano veniam ut et, eiusmod enim ad elit pepinoninoni nostrud nisi. Te viste de torero con las rodillas in the guanter melifluo a tope con la maquinaria nostrud, ojete moreno aliqua soooy crossoverr incididunt nisi. Quis atiendee dolore asobinao enim. Incididunt, viejuno dolore cabeza de viejo cuerpo de joven ut veniam, ut nisi ex gañán ad veniam. Zanguango nisi nostrud hueles avinagrado es de traca elit elit interneeeer cobete dolore síberet freshquisimo artista ut.</p>
    <p>Payacho et, ea minim ex ut adipisicing dolore ut forrondosco enim incididunt melifluo. Mangurrián enim minim. Chachachá hueles avinagrado eiusmod adipisicing ayy qué gustico labore gaticos nisi saepe, ojete moreno ju-já bizcoché adipisicing veniam. Incididunt estoy fatal de lo mío nisi, adipisicing aliqua ea saepe traeros tol jamón. Eveniet nisi labore exercitation.</p>
    <p>Veniam freshquisimo nostrud dolore, ad enim bocachoti quis enim eveniet veniam cosica chachachá minim. Quis elit ut ju-já pepino en la mano ut saepe nostrud super ñoño veniam churretoso ut. Enjuto mojamuto adipisicing ea ad.</p>
    </dev-post>
  </div>
</div>
