/* You can add global styles to this file, and also import other style files */
/*@import "./";*/

body {
    background-color: blanchedalmond;
}
.nav-link {
    border: 2px solid transparent;
    margin: 0 0 -0.2rem 0;
    padding: 0.2rem;
    color: blanchedalmond;
}
.nav-link.router-link-active {
    border: 2px solid blanchedalmond;
}