/* You can add global styles to this file, and also import other style files */
/*@import "./";*/

body {
    background-color: blanchedalmond;
}
.nav-link {
    border-top: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: 0 0 -0.3rem 0;
    padding: 0.4rem;
    color: blanchedalmond;
}
.nav-link.router-link-active {
    border: 0.3rem solid blanchedalmond;
}
.borrar {
    cursor: pointer;
    position: absolute;
    right: 1rem;
}
.completed {
    margin-right: 1rem;
}